{% extends "bootstrap/base.html" %}
{% block title %}This is an example page{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
    <!-- ... -->
</div>
{% endblock %}

{% block content %}
<h1>SQL, Spark, KDBQ</h1>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Name</th>
        <th>SQL</th>
        <th>Spark</th>
        <th>KDBQ</th>
    </tr>
    </thead>
    <tbody>
    {% for row in code %}
    <tr>
        <td>{{ row.name }}</td>
        <td>{{ row.sql }}</td>
        <td>{{ row.spark }}</td>
        <td>{{ row.kdbq }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}